## Basic EDA

In [ ]:

x = df['Rating'].dropna()
y = df['Size'].dropna()
z = df['Installs'][df.Installs!=0].dropna()
p = df['Reviews'][df.Reviews!=0].dropna()
t = df['Type'].dropna()
price = df['Price']

p = sns.pairplot(pd.DataFrame(list(zip(x, y, np.log(z), np.log10(p), t, price)), 
                        columns=['Rating','Size', 'Installs', 'Reviews', 'Type', 'Price']), hue='Type', palette="Set2")

In [ ]:
##Conclusion 

df.shape #get size
df.info() #get details / find is any nulls
df.head(50)

# check data convert failed cases 
df[pd.to_numeric(df.OriginPrice, errors= 'coerce').isna()]

# convert a new data type and added to new column 
df['Price'] = pd.to_numeric(df.OriginPrice, errors= 'coerce')

# deal with null value

#check value 
df['Sex'].unique() # distinct 
df['Set'].value_count() # group by sex

#check unnormal value  
df[df['Age']> 100]
df[df['Price'].isna()]['OriginPrice'].unique() 

#invalid data solution 
#solution 1 drop invalid data 
df_cleaned = df.drop(pd.to_datetime(['2017-12-28', '2018-03-04']))
#solution 2 replace value 
df.loc[df['Age'] > 100, 'Age'] = df.loc[df['Age'] > 100, 'Age'] / 10
(Rating , InstallInt, PriceInt) = (cutOffLine["Rating"], cutOffLine["InstallsInt"], cutOffLine["PriceInt"])
apps.loc[apps["Rating"]>=float(Rating)]

df.duplicated(subset=['Name'], keep = 'last') # find if any duplicate value


#Sort 
df.sort_index(ascending=False)
df.sort_values(by='col1', ascending=False, na_position='first')
i = 10
apps["Rank"]= apps[["Rating", "InstallsInt", "PriceInt"]].apply(tuple, axis=1).rank(method = 'min', ascending = False).astype(int)
sortedApp = apps[apps["Rank"]<=i].sort_values(by = ['Rank'], ascending=[True])

# show certain loc


#show meth analse 
df.mean()
df.median()
#show picture 
df.plot(kind="density", y = "Ether", xlim  =[0, 1400])
df.plot(kind="hist", y = "Ether", xlim  =[0, 1400], bins  = 150 ) # https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.hist.html

## DataType

In [ ]:
# find non numeirc value 
pd.to_numeric(df.Price, errors= 'coerce').fillna(0.0) 
df.apply(pd.to_numeric, errors='coerce').dropna(axis=1)

## Create df

In [ ]:
ambassadors = pd.Series([
    'France',
    'United Kingdom',
    'United Kingdom',
    'Italy',
    'Germany',
    'Germany',
    'Germany',
], index=[
    'GÃ©rard Araud',
    'Kim Darroch',
    'Peter Westmacott',
    'Armando Varricchio',
    'Peter Wittig',
    'Peter Ammon',
    'Klaus Scharioth '
])

## Check duplicate

In [ ]:
## Check duplicate
ambassadors.duplicated()
ambassadors.duplicated(keep='last') # show others as ture, except the last duplicate element as false
ambassadors.duplicated(keep=False) # make all duplicate values as false

# deal with duplicated 
ambassadors.drop_duplicates()
ambassadors.drop_duplicates(keep='last')
ambassadors.drop_duplicates(keep=False)
players.drop_duplicates(subset=['Name'], keep='last')

## String 
https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html

In [ ]:
# Contains
df['Year'].str.contains('\?')  # is has invalid ? 

# String has space 
df['Country'].str.strip()
df['Country'].str.replace(' ', '')

#regular expressions  regex patterns
df['Year'].str.replace(r'(?P<year>\d{4})\?', lambda m: m.group('year'))

## regular expressions
regex patterns

In [ ]:
df['Year'].str.replace(r'(?P<year>\d{4})\?', lambda m: m.group('year'))

## Check null

## Check distinct 
movies.country.unique()
df['Sex'].unique()

## Clean data --

In [ ]:
df.loc[df['Age'] > 100, 'Age'] = df.loc[df['Age'] > 100, 'Age'] / 10
df['Sex'].replace({'D': 'F', 'N': 'M'})
df.replace({
    'Sex': {
        'D': 'F',
        'N': 'M'
    },
    'Age': {
        290: 29
    }
})

df['Size'] = df['Size'].apply(lambda x: str(x).replace('Varies with device', 'NaN') if 'Varies with device' in str(x) else x)

## Convert DataFram to Series

In [ ]:
# using squeeze to convert to Series for one column DF
exam_test_2 = pd.read_csv('exam_review.csv',
                          sep='>',
                          usecols=['last_name'],
                          squeeze=True)

In [ ]:
## Sort values 

playstore_df = playstore_df.sort_values('Rating', ascending=False).head(25)


### Checking for `nan` or `inf`

In [ ]:
#Drop null 
df.dropna() #drop row if has null
df.dropna(axis=1) #drop column if has null , axis = 'columns' also works
df.dropna(how='all') # drop if row if all column is null,  can also do how = 'any'
df.dropna(thresh= 3) # a row must have at least 3 value, otherwise it will be dropped


# fill null 
df.fillna(s.mean())
df.fillna(method = 'ffill', axis = 0) # fill with the value before
df.fillna(method = 'bfill', axis = 0) # fill with the value after 


#numpy 
np.isnan(np.nan)
np.isinf(np.inf)
np.isfinite(np.nan) # check is not number and not inf
a[~np.isnan(a)] # return not null  ~ not 


#Pandas treat null as ignore when doing count, sum, avg
pd.Series([1, 2, np.nan]).count()
pd.Series([1, 2, np.nan]).sum()
pd.Series([1, 2, np.nan]).mean()
pd.isnull(np.nan) =  pd.isna(np.nan)
df[pd.notnull(df)] 
df.dropna()

## Otheres

In [ ]:
pd.Series([True, False, False]).any()
pd.Series([True, False, False]).all()