In [ ]:
import pyodbc 
server = 'localhost'
database = 'test'
dbUser = 'sa'
dbPassword = 'YoudStrongPassWord'
listOfTable = 'ddsdfaddafdafdafd'
driver = '{ODBC Driver 17 for SQL Server}'

### Read rows to file

In [ ]:
conn = pyodbc.connect('DRIVER='+driver+';SERVER='+server+';DATABASE='+database+';UID='+dbUser+';PWD='+dbPassword)
cursor = conn.cursor()
listOfQueries = []
for (s,t) in listOfTable: 
    query = "exec tools.sp_generate_merge @schema ='"+s+"',@table_name = '"+t+"', @cols_to_exclude = \"'Seed'\""
    print (query)
    listOfQueries.append(query)
    fileName = s+ "." + t+".Data.sql"
    f = open(fileName, "w+")
    for row in cursor.execute(query):
        content = row[0].replace( "<?x USE e4cs-hor\rGO\r\r\r", "").replace("\r\r\r?>", "")
        #print (row)
        f.write(content)
        
    f.close()

### Insert/Update/Detele

In [ ]:
print ('Inserting a new row into table')
#Insert Query
tsql = "INSERT INTO Employees (Name, Location) VALUES (?,?);"
with cursor.execute(tsql,'Jake','United States'):
    print ('Successfully Inserted!')


#Update Query
print ('Updating Location for Nikita')
tsql = "UPDATE Employees SET Location = ? WHERE Name = ?"
with cursor.execute(tsql,'Sweden','Nikita'):
    print ('Successfully Updated!')


#Delete Query
print ('Deleting user Jared')
tsql = "DELETE FROM Employees WHERE Name = ?"
with cursor.execute(tsql,'Jared'):
    print ('Successfully Deleted!')


#Select Query
print ('Reading data from table')
tsql = "SELECT Name, Location FROM Employees;"
with cursor.execute(tsql):
    row = cursor.fetchone()
    while row:
        print (str(row[0]) + " " + str(row[1]))
        row = cursor.fetchone()